@media (max-width: 1024px) {
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  header {
    gap: 100px;
    padding: 0 20px;
  }

  main #building {
    width: 90%;
    transform: translate(0);
    margin: auto;
    height: auto;
  }

  main #building div img {
    width: 100%;
    height: auto;
  }

  main .About {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin-left: 0;
  }

  main .About .about {
    width: 80%;
    margin: auto;
    font-size: larger;
  }

  main .About div img {
    width: 80%;
  }
  main .white .latest,
  main .white .test {
    height: 50vh;
  }
  main .white .latest .content {
    grid-template-columns: repeat(2, 1fr);
    transform: translate(0);
    justify-items: center;
    gap: 20px;
  }

  main .white .test .content_a {
    transform: translate(0);
    justify-items: center;
  }

  main .insights .content_b {
    grid-template-columns: repeat(3, 1fr);
    transform: translate(0);
    gap: 20px;
  }

  main .insights .content_b .card {
    width: 28vw;
  }
  main .insights .content_b .card .emoji {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  main .insights a button {
    transform: translate(40vw);
  }
  main .posts div,
  main .posts div img {
    height: 27vh;
  }
  main .posts {
    height: 120vh;
  }
  footer {
    gap: 150px;
    height: 50vh;
  }
  main .policy {
    height: 100vh;
  }
  main .black {
    height: 20vh;
  }
  main .title {
    height: 20vh;
    margin-top: 15vh;
  }
  main .accessibility {
    height: auto;
  }
  main .alls,
  main .posta,
  main .comment {
    margin-top: 10vh;
  }
  main .people .post img {
    height: auto;
  }
}
@media (max-width: 768px) {
  header {
    justify-content: space-evenly;
  }
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  main .white {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30vh;
    background-color: #f8f8f8;
  }
  header span a {
    font-size: 16px;
  }

  main #building h1 {
    font-size: 45px;
    text-align: center;
  }

  main #building .committed {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  main .About h1 {
    font-size: 50px;
  }
  * {
    box-sizing: border-box;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }
  .content_a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .content,
  .content_b {
    display: grid;
    gap: 20px;
    width: 100%;
  }
  main .insights .content_b {
    margin-left: 2vw;
  }
  main .insights .content_b .card a h2 {
    font-size: 20px;
  }
  main #contact h1 {
    font-size: 50px;
  }

  main #contact form input,
  main #contact form textarea {
    width: 300px;
  }

  footer {
    flex-direction: column;
    margin: 0;
    height: 100vh;
    gap: 0;
  }
  footer .half_b,
  footer .half_a {
    margin-top: 0;
  }

  footer .half_b form {
    width: 50vw;
  }
  main .posts div {
    width: 68vw;
  }
  main .posts div .read a h2 {
    font-size: 16px;
    font-weight: 900;
  }
  main .posts div .read a p {
    font-size: 14px;
  }
  main .posts div .read a {
    margin-bottom: 0;
  }
  main .people {
    width: 70vw;
    transform: translate(15vw);
  }
  main .comment {
    width: 70vw;
    transform: translate(15vw, -50vh);
  }
  main .policy {
    height: 120vh;
    transform: translate(20vw);
  }
  main .policy div {
    width: 60vw;
  }
  main .black {
    height: 30vh;
  }
  main .accessibility .title {
    margin: 10vh 0;
    border-bottom: 0px;
  }
  main .accessibility .title h1 {
    font-size: 80px;
  }
  main .accessibility .title p {
    padding-bottom: 3vh;
    border-bottom: 1px solid black;
  }
}
@media (max-width: 480px) {
  * {
    box-sizing: border-box;
  }

  body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  header span a {
    font-size: 14px;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  main #building {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  main #building h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  main #building div img {
    width: 100%;
    height: auto;
  }

  main #building .committed {
    flex-direction: column;
    gap: 10px;
  }

  main .About {
    grid-template-columns: 1fr;
    text-align: start;

    width: 100%;
    margin-left: 2vw;
  }

  main .About h1 {
    font-size: 36px;
  }

  main .About .about {
    width: 90%;
    margin: auto;
    font-size: 16px;
  }

  main .About div img {
    width: 100%;
    margin: auto;
  }
  main .white {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 120vh;
    background-color: #f8f8f8;
  }
  main .white .latest .new {
    width: 80vw;
    text-align: center;
    transform: translate(10vw);
  }
  main .white .latest .new h1 {
    font-size: 40px;
  }
  main .white .latest .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  main .white .latest .content p {
    width: 60vw;
    font-size: 20px;
    font-weight: 100;
    transform: translate(-20vw);
  }
  main .white .latest .content h2 {
    width: 50vw;
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    transform: translate(-15vw);
  }
  main .white .test {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transform: translate(1vw);
  }
  main .white .test div h1 {
    font-size: 50px;
    transform: translate(3vw);
  }
  main .white .test .content_a {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 80vw;
    transform: translate(0);
  }
  main .white .test .content_a div {
    width: 90vw;
    transform: translate(3vw);
  }
  main .white .test .content_a div p {
    font-size: 30px;
    font-weight: 100;
  }
  main .white .test .content_a div h4 {
    font-size: 30px;
  }
  main .insights .content_b .card {
    width: 80vw;
    height: 50vh;
    transform: translate(9vw);
  }
  main .insights div h1 {
    font-size: 50px;
    transform: translate(9vw);
  }
  main .insights .content_b {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vh;
  }

  main .insights .content_b .card a h2 {
    font-size: 18px;
  }
  main .insights .content_b .card .emoji {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 74vw;
  }
  main .insights a button {
    transform: translate(33vw);
  }
  main #contact span {
    width: 80vw;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
  }
  main #contact form {
    width: 80vw;
    transform: translate(5vw);
  }
  main #contact form .btn {
    width: 72vw;
  }

  main .posts {
    height: auto;
  }

  main .posts div {
    width: 90%;
    height: auto;
    margin: auto;
  }

  main .posts div img {
    width: 100%;
    height: auto;
  }

  main .posts div .read a h2 {
    font-size: 16px;
  }

  main .posts div .read a p {
    font-size: 13px;
  }

  main #contact h1 {
    font-size: 36px;
  }

  main #contact form input,
  main #contact form textarea {
    width: 90%;
  }

  main .people,
  main .comment,
  main .policy {
    width: 90%;
    margin: auto;
    transform: none;
  }

  main .accessibility .title h1 {
    font-size: 32px;
  }

  main .accessibility .title p {
    font-size: 14px;
  }
  main .posts {
    transform: translate(0vw, 10vh);
    height: 220vh;
    gap: 0;
  }
  main .posts h1 {
    margin-bottom: 0;
    transform: translate(12vw);
  }
  main .posts div {
    width: 95vw;
    gap: 0px;
    display: flex;
    flex-direction: column;
  }
  main .posts div img {
    height: 27vh;
  }
  main .posts div .read {
    transform: translate(3vw);
    width: 90vw;
    height: 25vh;
  }
  main .all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 20px 25px;
    background-color: #504e49;
  }
  main .all a,
  main .all i {
    color: #f8f8f8;
  }
  main .alll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 20px 25px;
    background-color: #504e49;
  }
  main .alll a,
  main .alll i {
    color: #f8f8f8;
  }
  main .people {
    width: 100vw;
    padding: 50px 20px;
  }
  main .people .post img {
    width: 90vw;
    height: 30vh;
  }
  main .alls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 40px 25px;
    transform: translate(0, -10vh);
  }
  main .posta {
    display: flex;
    flex-direction: column;
    transform: translate(2vw, -15vh);
    gap: 30px;
  }
  main .posta .post_a {
    width: 95vw;
    gap: 0px;
    display: flex;
    flex-direction: column;
  }
  main .posta .post_a .post_b a {
    font-size: 30px;
    font-weight: 100;
    margin-top: 20px;
  }
  main .posta .post_a .post_b,
  main .posta .post_a .post_c {
    margin: 20px 0;
    width: 95%;
  }
  main .posta .post_a img {
    height: 27vh;
  }
  main .comment {
    width: 100vw;
    padding: 20px 30px;
    padding-bottom: 40px;
  }
  main .policy {
    height: auto;
    width: 100%;
    padding: 20px;
  }
  main .policy h1 {
    font-size: 40px;
    text-align: center;
  }
  main .policy span {
    width: 90vw;
  }
  main .policy div {
    width: 90vw;
    font-size: 20px;
  }
  main .black {
    height: 50vh;
  }
  main .black p,
  main .black span,
  main .black i {
    width: 90vw;
    transform: translate(5vw);
  }
  main .accessibility {
    transform: translate(-10vw, 20vh);
    height: 230vh;
  }
  main .accessibility .title h1 {
    font-size: 50px;
    width: 60vw;
  }
  main .accessibility .title span,
  main .accessibility .title p,
  main .accessibility div {
    width: 90vw;
  }
  main .accessibility div h1 {
    font-size: 30px;
  }
  footer {
    width: 100vw;
    flex-direction: column;
    padding: 20px 0 40px 0;
    gap: 20px;
    height: auto;
  }

  footer .half_a,
  footer .half_b {
    width: 90%;
    margin: 0 auto;
  }

  footer .half_b form {
    width: 100%;
  }
  footer .half_a h1 {
    margin-bottom: 20px;
  }
}
