@media (max-width: 1024px) {
  html,
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  * {
    box-sizing: border-box;
  }
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  header {
    gap: 50px;
    padding: 0 20px;
  }

  main #building {
    width: 90%;
    transform: none;
    margin: 0 auto;
    height: auto;
  }

  main #building div img {
    width: 100%;
    height: auto;
  }

  main .About {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin-left: 0;
  }

  main .About .about {
    width: 80%;
    margin: 0 auto;
    font-size: larger;
  }

  main .About div img {
    width: 80%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  main .white .latest,
  main .white .test {
    height: auto;
    min-height: 50vh;
  }
  main .white .latest .new h1 {
    font-size: 80px;
  }
  main .white .test div h1 {
    font-size: 80px;
    width: 50%;
  }

  main .white .latest .content {
    grid-template-columns: repeat(2, 1fr);
    transform: none;
    justify-items: center;
    gap: 20px;
    margin: 0 auto;
    width: 90%;
  }

  main .white .test .content_a {
    transform: none;
    justify-items: center;
    margin: 0 auto;
    width: 90%;
  }

  main .insights .content_b {
    grid-template-columns: repeat(3, 1fr);
    transform: none;
    gap: 20px;
    margin: 0 auto;
    width: 90%;
  }

  main .insights .content_b .card {
    width: 100%;
    max-width: 400px;
  }
  main .insights .content_b .card a {
    margin: 0 10px;
  }

  main .insights .content_b .card img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .insights .content_b .card .emoji {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  main .insights a {
    text-decoration: none;
  }

  main .insights a button {
    transform: none;
    margin: 40px auto;
    display: block;
    text-decoration: none;
  }
  main .posts {
    height: auto;
    width: 90%;
    margin: 40px auto;
    transform: none;
  }

  main .posts h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }

  main .posts div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  main .posts div img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .posts div .read {
    width: 100%;
    height: auto;
    padding: 30px;
  }

  main .posts div .read a h2 {
    font-size: 50px;
  }

  main .posts div .read a p {
    font-size: 30px;
  }
  main .people {
    width: 90%;
    margin: 40px auto;
    transform: none;
  }

  main .people .post img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .alls {
    margin-top: 60px;
    transform: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  main .posta {
    margin-top: 60px;
    transform: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  main .posta .post_a {
    width: 30%;
  }

  main .posta .post_a .post_b,
  main .posta .post_a .post_c {
    width: 90%;
  }
  main .posta .post_a img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .comment {
    margin-top: 60px;
    transform: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  footer {
    gap: 50px;
    height: auto;
    padding: 40px 20px;
  }

  main .policy {
    height: auto;
    width: 90%;
    margin: 0 auto;
    transform: none;
    justify-content: center;
    align-items: center;
  }
  main .policy div {
    width: 80vw;
  }
  main .policy div span {
    font-size: 20px;
    font-weight: 900;
  }

  main .black {
    height: auto;
    padding: 40px 20px;
  }

  main .black p,
  main .black i,
  main .black span {
    width: 95%;
    transform: none;
  }

  main .title {
    height: auto;
    margin-top: 40px;
  }
  main .accessibility .title h1 {
    font-size: 70px;
  }

  main .accessibility {
    height: auto;
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;
    padding: 20px;
  }

  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }

  main {
    width: 100%;
  }

  main .white {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    background-color: #f8f8f8;
    padding: 40px 0;
  }
  main .white .latest .new h1,
  main .white .test div h1 {
    font-size: 50px;
  }

  header span a {
    font-size: 16px;
  }

  main #building h1 {
    font-size: 40px;
    text-align: center;
  }

  main #building .committed {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  main .About {
    padding: 40px 20px;
  }

  main .About h1 {
    font-size: 45px;
  }

  main .About div img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  * {
    box-sizing: border-box;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }

  .card img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .content_a {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .content,
  .content_b {
    display: grid;

    gap: 20px;
    width: 100%;
    padding: 0 20px;
  }

  main .insights .content_b {
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
  }

  main .insights .content_b .card a h2 {
    font-size: 20px;
  }

  main .insights .content_b .card .emoji {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }
  main .insights a {
    text-decoration: none;
  }

  main #contact h1 {
    font-size: 45px;
  }

  main #contact form {
    width: 90%;
    max-width: 500px;
  }

  main #contact form input,
  main #contact form textarea {
    width: 100%;
  }

  footer {
    flex-direction: column;
    margin: 0;
    height: auto;
    gap: 40px;
    padding: 40px 20px;
  }

  footer .half_b,
  footer .half_a {
    margin-top: 0;
    width: 100%;
  }

  footer .half_b form {
    width: 100%;
  }
  main .posts {
    height: auto;
    width: 90%;
    margin: 40px auto;
  }

  main .posts h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }

  main .posts div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  main .posts div img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .posts div .read {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  main .posts div .read a h2 {
    font-size: 30px;
  }

  main .posts div .read a p {
    font-size: 20px;
  }
  main .people {
    width: 90%;
    margin: 40px auto;
    transform: none;
    padding: 20px;
  }

  main .people .post img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .alls {
    margin-top: 60px;
    transform: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  main .posta {
    margin-top: 60px;
    transform: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  main .posta .post_a {
    width: 48%;
  }

  main .posta .post_a img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .posta .post_a .post_b,
  main .posta .post_a .post_c {
    width: 90%;
  }

  main .comment {
    width: 90%;
    margin: 60px auto 40px;
    transform: none;
    padding: 20px;
  }

  main .comment textarea {
    width: 100%;
  }

  main .policy {
    height: auto;
    width: 90%;
    margin: 40px auto;
    transform: none;
    align-items: flex-start;
  }

  main .policy div {
    width: 100%;
  }

  main .black {
    height: auto;
    padding: 40px 20px;
  }
  main .black p,
  main .black i,
  main .black span {
    width: 95%;
  }

  main .accessibility {
    width: 90%;
    margin: 40px auto;
    transform: none;
  }

  main .accessibility .title {
    margin: 40px 0;
    border-bottom: 0;
  }

  main .accessibility .title h1 {
    font-size: 50px;
  }

  main .accessibility .title p {
    padding-bottom: 20px;
    border-bottom: 1px solid black;
  }
}

@media (max-width: 480px) {
  * {
    box-sizing: border-box;
  }

  body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
  }

  header {
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }

  header span a {
    font-size: 14px;
  }
  header .menu {
    display: none !important;
  }

  header .menu_a {
    display: flex !important;
  }
  main {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
  }

  main #building {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  main #building h1 {
    font-size: 32px;
    line-height: 1.2;
  }

  main #building div img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main #building .committed {
    flex-direction: column;
    gap: 10px;
  }

  main .About {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 20px;
  }

  main .About h1 {
    font-size: 36px;
  }

  main .About .about {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
  }

  main .About div img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
  }

  main .white {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background-color: #f8f8f8;
    padding: 40px 0;
  }

  main .white .latest {
    padding: 0 20px;
  }

  main .white .latest .new {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  main .white .latest .new h1 {
    font-size: 36px;
  }

  main .white .latest .content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  main .white .latest .content div {
    width: 100%;
  }

  main .white .latest .content p {
    width: 100%;
    font-size: 16px;
    font-weight: 100;
  }

  main .white .latest .content h2 {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
  }

  main .white .test {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
  }

  main .white .test div h1 {
    font-size: 36px;
  }

  main .white .test .content_a {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
  }

  main .white .test .content_a div {
    width: 100%;
  }

  main .white .test .content_a div p {
    font-size: 16px;
    font-weight: 100;
  }

  main .white .test .content_a div h4 {
    font-size: 18px;
  }

  main .insights {
    padding: 0 20px;
  }

  main .insights .content_b {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    width: 100%;
  }

  main .insights .content_b .card {
    width: 100%;
    margin: 0 auto;
  }

  main .insights .content_b .card img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .insights div h1 {
    font-size: 36px;
  }

  main .insights .content_b .card a h2 {
    font-size: 18px;
  }

  main .insights .content_b .card .emoji {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
  }

  main .insights a button {
    margin: 40px auto;
    display: block;
  }

  main #contact {
    padding: 0 20px;
  }

  main #contact h1 {
    font-size: 36px;
  }

  main #contact span {
    width: 100%;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;
  }

  main #contact form {
    width: 100%;
  }

  main #contact form input,
  main #contact form textarea {
    width: 100%;
  }

  main #contact form .btn {
    width: 100%;
  }

  main .posts {
    height: auto;
    width: 90%;
    margin: 40px auto;
  }

  main .posts h1 {
    margin-bottom: 30px;
    font-size: 32px;
  }

  main .posts div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  main .posts div img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .posts div .read {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  main .posts div .read a h2 {
    font-size: 20px;
  }

  main .posts div .read a p {
    font-size: 14px;
  }

  main .all {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #504e49;
    margin: 0;
  }

  main .all a,
  main .all i {
    color: #f8f8f8;
  }

  main .alll {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    background-color: #504e49;
    margin: 0;
  }

  main .alll a,
  main .alll i {
    color: #f8f8f8;
  }
  main .people {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    transform: none;
  }

  main .people .post {
    width: 100%;
  }

  main .people .post img {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
  }

  main .alls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin: 60px 0 0 0;
    transform: none;
  }

  main .posta {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 90%;
    margin: 40px auto;
    transform: none;
  }

  main .posta .post_a {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  main .posta .post_a img {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  main .posta .post_a .post_b a {
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
  }

  main .posta .post_a .post_b,
  main .posta .post_a .post_c {
    margin: 20px 0;
    width: 100%;
    padding: 0 10px;
    transform: none;
  }
  main .posta .post_a .post_c div i,
  main .posta .post_a .post_c i {
    padding-top: 20px;
  }

  main .comment {
    width: 90%;
    margin: 40px auto;
    padding: 20px;
    transform: none;
  }

  main .comment textarea {
    width: 100%;
  }

  main .policy {
    height: auto;
    width: 90%;
    margin: 40px auto;
    padding: 20px;
  }

  main .policy h1 {
    font-size: 32px;
    text-align: center;
  }

  main .policy span,
  main .policy div {
    width: 100%;
  }

  main .policy div {
    font-size: 16px;
  }

  main .black {
    height: auto;
    padding: 40px 20px;
  }

  main .black p,
  main .black span,
  main .black i {
    width: 100%;
    transform: none;
  }

  main .accessibility {
    width: 90%;
    margin: 40px auto;
    height: auto;
  }

  main .accessibility .title {
    width: 100%;
    transform: none;
  }

  main .accessibility .title h1 {
    font-size: 32px;
    width: 100%;
    transform: translate(0);
  }

  main .accessibility .title span,
  main .accessibility .title p,
  main .accessibility div {
    width: 100%;
    transform: none;
  }

  main .accessibility div h1 {
    font-size: 24px;
  }

  footer {
    width: 100%;
    flex-direction: column;
    padding: 40px 20px;
    gap: 40px;
    height: auto;
  }

  footer .half_a,
  footer .half_b {
    width: 100%;
    margin: 0;
  }

  footer .half_a h1 {
    margin-bottom: 20px;
    font-size: 36px;
  }

  footer .half_b form {
    width: 100%;
  }

  footer .half_b form textarea {
    width: 100%;
  }
}
