@media (max-width: 1024px) {
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  header {
    gap: 100px;
    padding: 0 20px;
  }

  main #building {
    width: 90%;
    transform: translate(0);
    margin: auto;
    height: auto;
  }

  main #building div img {
    width: 100%;
    height: auto;
  }

  main .About {
    grid-template-columns: 1fr;
    text-align: center;
    width: 100%;
    margin-left: 0;
  }

  main .About .about {
    width: 80%;
    margin: auto;
    font-size: larger;
  }

  main .About div img {
    width: 80%;
  }
  main .white .latest,
  main .white .test {
    height: 50vh;
  }
  main .white .latest .content {
    grid-template-columns: repeat(2, 1fr);
    transform: translate(0);
    justify-items: center;
    gap: 20px;
  }

  main .white .test .content_a {
    transform: translate(0);
    justify-items: center;
  }

  main .insights .content_b {
    grid-template-columns: repeat(3, 1fr);
    transform: translate(0);
    gap: 20px;
  }

  main .insights .content_b .card {
    width: 28vw;
  }
  main .insights .content_b .card .emoji {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
  main .insights a button {
    transform: translate(40vw);
  }
  main .posts div,
  main .posts div img {
    height: 27vh;
  }
  main .posts {
    height: 120vh;
  }
  footer {
    gap: 150px;
    height: 50vh;
  }
  main .policy {
    height: 100vh;
  }
  main .black {
    height: 20vh;
  }
  main .title {
    height: 20vh;
    margin-top: 15vh;
  }
  main .accessibility {
    height: auto;
  }
  main .alls,
  main .posta,
  main .comment {
    margin-top: 10vh;
  }
  main .people .post img {
    height: auto;
  }
}
@media (max-width: 768px) {
  header {
    justify-content: space-evenly;
  }
  body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  main .white {
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 30vh;
    background-color: #f8f8f8;
  }
  header span a {
    font-size: 16px;
  }

  main #building h1 {
    font-size: 45px;
    text-align: center;
  }

  main #building .committed {
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  main .About h1 {
    font-size: 50px;
  }
  * {
    box-sizing: border-box;
  }

  .card {
    width: 100%;
    max-width: 100%;
  }
  .content_a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .content,
  .content_b {
    display: grid;
    gap: 20px;
    width: 100%;
  }
  main .insights .content_b {
    margin-left: 2vw;
  }
  main .insights .content_b .card a h2 {
    font-size: 20px;
  }
  main #contact h1 {
    font-size: 50px;
  }

  main #contact form input,
  main #contact form textarea {
    width: 300px;
  }

  footer {
    flex-direction: column;
    margin: 0;
    height: 100vh;
    gap: 0;
  }
  footer .half_b,
  footer .half_a {
    margin-top: 0;
  }

  footer .half_b form {
    width: 50vw;
  }
}
@media (max-width: 480px) {
  * {
    transform: none;
  }

  section,
  .content,
  .content_a,
  .content_b,
  .About {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .content > div,
  .content_a > div,
  .content_b > .card,
  .About .about,
  .About > div,
  main #building,
  main #building div img {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  p,
  span {
    font-size: 14px;
    text-align: center;
    width: 90%;
  }

  .content_b .card div {
    width: 90%;
    gap: 20px;
    justify-content: space-between;
  }

  main #contact form input,
  main #contact form textarea {
    width: 90%;
  }

  footer {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }

  footer .half_b form {
    width: 90%;
  }
}
