body {
  display: flex;
  flex-direction: column;
  margin: 0;
  background-color: #fdffef;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 400px;
}
header h1 {
  margin: 0;

  font-weight: lighter;
}
header span a {
  color: black;
  text-decoration: none;

  cursor: pointer;
}
header .menu {
  position: relative;
}

header .menu input {
  display: none;
}

header .menu .modal {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 90vh;
  background-color: #f8f8f8;
  border: 10px solid black;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

header .menu input[type="checkbox"]:checked ~ .modal {
  display: flex;
}

header .menu .modal nav {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

header .menu .modal nav label {
  align-self: center;
  cursor: pointer;
  font-size: 24px;
}
header .menu .modal nav label:hover {
  text-decoration: underline;
  color: #0000007b;
}
header .menu .modal nav ul {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 20px;
}

header .menu .modal nav ul li a {
  text-decoration: none;
  font-size: 40px;
  color: black;
}
header .menu .modal nav ul li a:hover {
  color: #0000007b;
}
header .menu label:hover {
  color: #0000007b;
}
main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
main #building {
  width: 1225px;
  height: 170vh;
  display: flex;
  flex-direction: column;
  transform: translate(80px);
}
main #building h1 {
  margin-top: 90px;
  justify-content: flex-start;
  font-size: 70px;
  font-weight: lighter;
  margin-bottom: 20px;
}
main #building .committed {
  display: flex;
  justify-content: space-between;
}
main #building .committed span {
  font-size: 24px;
  font-weight: lighter;
}
main #building .committed button {
  width: 160px;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #eec355;
  cursor: pointer;
}
main #building .committed button:hover {
  transition: 0.8s;
  background-color: black;
  color: #eec355;
}
main #building div img {
  margin-top: 40px;
  width: 1225px;
  height: 935px;
  object-fit: cover;
  object-position: 50% 0%;
}
main .About {
  width: 90vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 80px;
  align-items: center;
}
main .About .about {
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main .About .about h1 {
  font-size: 80px;
  font-weight: lighter;
  margin: 0;
}
main .About .about p {
  font-weight: lighter;
}
main .About div img {
  width: 564px;
  height: 614px;
  object-fit: cover;
  object-position: 50% 0%;
}
main .About .about button {
  width: 160px;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #eec355;
  cursor: pointer;
}
main .About .about button:hover {
  transition: 0.8s;
  background-color: black;
  color: #eec355;
}
main .white {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
main .white .latest {
  background-color: #f8f8f8;
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
}
main .white .latest .new h1 {
  font-size: 80px;
  text-align: center;
  font-weight: lighter;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 60px;
}
main .white .latest .content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  transform: translate(80px);
}
main .white .latest .content div {
  width: 20vw;
  font-size: smaller;
  text-align: center;
}
main .white .latest .content div h2 {
  font-weight: lighter;
}
main .white .test {
  background-color: #f8f8f8;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
main .white .test h1 {
  font-size: 80px;
  transform: translate(80px);
  font-weight: lighter;
  margin: 0;
  margin-top: 60px;
}
main .white .test .content_a {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  transform: translate(80px);
}
main .white .test .content_a div {
  display: flex;
  flex-direction: column;
  width: 20vw;
}
main .white .test .content_a div h4 {
  font-weight: lighter;
}
main .white .img img {
  width: 100%;
  height: auto;
}
main .insights {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #f8f8f8;
}
main .insights div h1 {
  font-size: 80px;
  transform: translate(80px);
  font-weight: lighter;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 60px;
}
main .insights .content_b {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  transform: translate(80px);
}
main .insights .content_b .card {
  display: flex;
  flex-direction: column;
  width: 25vw;
  background-color: #fdffef;
  border: solid 1px black;
}
main .insights .content_b .card h2 {
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 10px;
}
main .insights .content_b .card p {
  margin-left: 10px;
  font-weight: 100;
  margin-bottom: 20px;
}
main .insights .content_b .card div {
  display: flex;
  flex-direction: row;
  gap: 263px;
  border-top: solid 1px black;
  width: 23vw;
  transform: translate(10px);
}
main .insights .content_b .card div span {
  margin: 20px 0;
}
main .insights button {
  transform: translate(625px);
  width: 160px;
  height: 40px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: #eec355;
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 80px;
}
main .insights button:hover {
  transition: 0.8s;
  background-color: black;
  color: #eec355;
}
main #contact {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fdffef;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
main #contact h1 {
  font-size: 80px;
  font-weight: lighter;
  margin-bottom: 0;
}
main #contact span {
  margin-bottom: 40px;
}
main #contact form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

main #contact form input {
  width: 400px;
  font-size: 12px;
  height: 30px;
  border-radius: 4px;
  background-color: #fdffef;
}
main #contact form textarea {
  font-size: 12px;
  background-color: #fdffef;
  resize: none;
  height: 70px;
  border-radius: 4px;
}
main #contact form button {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #eec355;
  cursor: pointer;
  margin-bottom: 100px;
}
main #contact form button:hover {
  transition: 0.8s;
  background-color: black;
  color: #eec355;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  gap: 500px;
  background-color: #f8f8f8;
}

footer .half_b {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  gap: 20px;
}
footer .half_a {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  gap: 20px;
}
footer .half_a h1 {
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 200px;
}
footer .half_a div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 15px;
  font-weight: lighter;
}

footer .half_a .emoji {
  display: flex;
  flex-direction: row;
  font-size: 20px;
}
footer .half_a .emoji a {
  color: black;
}
footer .half_b form {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  gap: 20px;
}
footer .half_b form textarea {
  font-size: 12px;
  resize: none;
  height: 35px;
  border-radius: 4px;
  background-color: #f8f8f8;
}
footer .half_b form button {
  height: 40px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: #eec355;
  cursor: pointer;
}
footer .half_b form button:hover {
  transition: 0.8s;
  background-color: black;
  color: #eec355;
}
footer .half_b h1 {
  font-size: 30px;
  font-weight: lighter;
  margin-bottom: 20px;
}
footer .half_b .privacy {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
footer .half_b .privacy a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
  font-size: 15px;
}
footer .half_b a {
  color: black;
}
main .policy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate(30vw);
  height: 150vh;
}
main .policy div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  gap: 10px;
  line-height: 25px;
}
main .policy h1 {
  font-size: 80px;
  font-weight: lighter;
  margin-bottom: 50px;
}
main .policy span a {
  color: black;
}
main .black {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  gap: 20px;
  background-color: black;
  color: #fdffef;
}
main .black p,
main .black i,
main .black span {
  width: 70vw;
  font-size: 20px;
  font-weight: bolder;
  transform: translate(16vw);
}
main .black p {
  margin-top: 35px;
}
main .black span a {
  color: #fdffef;
}
main .accessibility {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  height: 290vh;
}
main .accessibility .title {
  display: flex;
  flex-direction: column;
  width: 80vw;
  gap: 20px;
  transform: translate(10vw, -20vh);
  border-bottom: 1px solid black;
}
main .accessibility .title h1 {
  margin: 0;
  font-size: 90px;
  font-weight: lighter;
}
main .accessibility .title h1,
main .accessibility .title span,
main .accessibility .title p {
  width: 60vw;
  transform: translate(6vw);
}
main .accessibility .title p {
  margin-bottom: 40px;
}
main .accessibility div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 60vw;
  transform: translate(16vw, -16vh);
}
main .accessibility div h1 {
  margin: 0;
  font-size: 60px;
  font-weight: lighter;
}
